/* styles.css styles for homepage */

body {
    background-color: #f8f8f8; /* Light gray */
}

h1 {
    color: #b22222; /* Dark red */
    font-family: Arial, sans-serif;
    text-align: center;
}

h3 {
    color: #333; /* Dark gray */
    font-family: "Verdana", sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #444;
}

a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0055aa;
    text-decoration: underline;
}

ul.home {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 10px 0;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}